body {
    font-family: omnes-pro, sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 16px;
    margin: 0;
}

/*header stuff here*/

header {
    background-color: #ffe8d6;
    padding: 1rem 2vw;

}

header h1 {
    color: #6b705c;
    margin: 0px;
    font-family: "decoy", serif;
font-weight: 800;
font-style: normal;
}

header p {
    color: #6b705c;
    margin: 0px;
    letter-spacing: 1.40px;
}

/*nav stuff here*/

nav {
    background-color: #a5a58d;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #666;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #b7b7a4;
    color: #ffe8d6;
}

nav a:hover {
    color: white;
}

/*main stuff here*/

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #cb997e; 
}

main h2 {
    color: #ddbea9; 
    margin-bottom: .2rem
}

main p {
    color: #6b705c;
    margin: 0 0 .3rem 0;
}

main ul {
    background-color: #b7b7a4;
    padding: .5rem 3vw;
    font-family: omnes-pro, sans-serif;
font-weight: 300;
font-style: normal;
}

main dl dt {
    color: #6b705c;
    font-weight: 700;
}

main dl dd {
    color: #a5a58d;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address{
    font-style: normal;
    background-color: #ffe8d6;
    padding: .5rem; 
    width: 12.5rem;
    border-style: solid; 
    border-color: #cb997e;
    border-radius: .3rem;
}

main a {
    color: #a5a58d;
}

main a:hover {
    color: #cb997e;
}

main ol {
    color: #cb997e;
    font-size: 1.5rem;
}

main ol ul {
    font-family: omnes-pro, sans-serif;
font-weight: 400;
font-style: normal;
color: black;
font-size:1rem;
}

main ol dl {
    font-size: 1rem;
    font-family: omnes-pro, sans-serif;
font-weight: 400;
font-style: normal;
color: black
}

main p ul li {
    color: #6b705c;
    margin: 0 0 .3rem 0;
}

/*footer stuff here*/

footer {
    background-color: #ffe8d6;
    text-align:center;
    color: #6b705c; 
    padding: 1rem 0;
    font-size: .8rem
}

footer a{
    color: #a5a58d;
}
